---
layout: default
image: /assets/img/sal.jpg
---

<div class="page-header mx-auto text-center pt-5 pb-4">         
    <h1 class="display-4">{{ page.title }}</h1>
    <h2 class="lead">Download a free, open source {% unless page.slug contains "Popular" %} {{ page.slug }} {% endunless %} theme to kickstart your Bootstrap website</h2>
    <!-- Below Bootstrap Title -->
<ins class="adsbygoogle"
     style="display:block"
     google_adtest = "on"
     data-ad-client="ca-pub-3412143450191416"
     data-ad-slot="9139881204"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>

  <div class="row">
      
    {% for post in site.posts %}

      {% if post.tags contains page.slug %}
      
      <div class="col-md-4">

       {% include themecard.html %}
          
    </div>

      {% endif %}

    {% endfor %}

  
  </div>

  {{ content }}


